
/*-- scss:defaults --*/
$primary: #2984b3;
$secondary: #049733;
$dark: #0c1826;

$code-color: #049733; /* currentily identical to secondary */
$code-bg:    #f6f9fa;
/*
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
*/


/*-- scss:rules --*/
#rotorweb-webheader-carousel {
    max-height: 15em;
    .carousel-inner {
        max-height: 15em;
        border-bottom: 0.3em solid $body-bg;
    }
    .carousel-item {
        max-height: 15em;
    }
}
#rotorweb-webheader-image {
    position: relative;
    max-height: 15em;
    display: block;
    overflow: hidden;
    .img-contained {
        /*position: absolute;*/
        object-fit: cover;
        object-position: 50% 0;
        width: 100% !important;
    }
}
#rotorweb-webheader-carousel, #rotorweb-webheader-image {
    .carousel-caption {
        right: 0;
        left: 0;
        width: 100%;
        .caption-title {
            font-size: 2em;
            color: #fff;
        }
        .caption-description {
            font-size: 1.5em;
            color: rgba(255, 255, 255, 0.8);
        }
        .grid {
            position: relative;
            width: 60%;
            left: 20%;
            right: 20%;
            img {
                max-width: 100%;
            }
        }
    }
}
.nav-footer {
    background-color: $light;
    align-items: normal;
}

ul {
    li.fali {
        list-style: none;
        position: relative;
        .fa-li {
            margin-left: 0.2em;
            padding-right: 0em;
        }
    }
}

/* Add brand color to orcid fa brand by default */
.fa-orcid { color: #a5cd39; }


nav {
    .navbar-container {
        .navbar-brand {
            padding: 0 1em 0 0;
            margin: 0;
            img {
                max-height: 50px;
            }
            span {
                color: $dark;
                position: relative;
                top: 0.1em;
            }
        }
    }
}

.nav-footer {
    div {
        .footer-items {
            display: inline;
            .nav-item {
                text-align: left;
                padding: 0;
                margin: 0;
                font-weight: bold;
                text-transform: uppercase;
                color: $primary;
            }
            .nav-link {
                text-transform: none;
                font-weight: normal;
                padding: 0;
                margin: 0;
                color: $dark;
            }
        }
    }
}

main.content {
    pre {
        > code {
            border-left: 0.25rem solid $primary;
            padding: 0.5em 1em;
            background-color: $code-bg;
            color: $code-color;
            &:hover {
                border-color: $secondary;
            }
        }
    }
}

/*-- scss:mixins --*/

/*-- scss:functions --*/

/*-- scss:uses --*/

